<div class="indrustialTapeContent">

    <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
        <div class="headingDiv">
          <div class="headingTextDiv">
              <h1> Industrial Tape </h1>
          </div>
        </div>
    </div>
    <div class="paraMain">
        <div class="paraTextDIv">
            <p> Top-notch industrial tapes manufactured for the industrial purposes such as electrical insulation, thread sealing, masking, etc.
            </p>
        </div>
    </div>
    <div class="cardsContainer">
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/Floor_Marking_Tape.png" type="image/png" alt="floor marking tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/Floor_Marking_Tape.webp" type="image/webp" alt="floor marking tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/Floor_Marking_Tape.webp"  type="image/webp" alt="floor marking tape modernpackaging" />
                </picture>

            </div>
            <div class="cardtextDiv">
                <p> Floor Marking Tape </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/Eva_Tape.png" style="transform: rotate(213deg);" type="image/png" alt="Eva tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/Eva_Tape.webp" style="transform: rotate(213deg);" type="image/webp" alt="Eva tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/Eva_Tape.webp" style="transform: rotate(213deg);" type="image/webp" alt="Eva tape modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> Eva Tape </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/Surface_Protection_Tape.webp"  type="image/png" alt="surface protection tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/Surface_Protection_Tape.webp"  type="image/webp" alt="surface protection tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/Surface_Protection_Tape.webp"  type="image/webp" alt="surface protection tape modernpackaging" />
                </picture> 
            </div>
            <div class="cardtextDiv">
                <p> Surface Protection Tape </p>
            </div>
        </div>

    </div>
</div>
