<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Custom Printed Self adhesive tap </h1>
              </div>
              <div class="cardImageDiv">
                <picture>
                  <source class="cardImage" srcset="../../../assets/images/Printed_tape.png" type="image/png" alt="printed tape modernpackaging">
                  <source class="cardImage" srcset="../../../assets/images/Printed_tape.webp" type="image/webp" alt="printed tape modernpackaging">
                  <img class="cardImage"  src="../../../assets/images/Printed_tape.webp"  type="image/webp" alt="printed tape modernpackaging" />
              </picture>
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1>  Custom Printed Bopp Tape </h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>Customized printed tapes which are essential for the promotion of your business. Modern Packaging manufactures custom printed taped tending to the requirement and the satisfaction of the client. This product is available in different sizes. Please get in touch with our team for further details.</p>
                <p><b>Salient Features : </b></p>
                <ul type="disc">
                  <li> 	Self Adhesive</li>
                  <li>	Excellent Adhesion Properties.</li>
                  <li>	Tear and Cut Resistant</li>
                  <li>	Water, Oil, and Solvent Resistant</li>
                  <li>	Long-lasting print.</li>
                </ul>
                <p><b>Common Uses : </b></p>
                <ul type="disc">
                  <li> 	All basic uses of a tape with the angle of promoting a brand, company, or organisation.</li>

                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
