<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1>  EPE Foam Roll Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                <picture>
                  <source class="cardImage" srcset="../../../assets/images/EPEFOAM.png" type="image/png" alt="EPE foam modernpackaging">
                  <source class="cardImage" srcset="../../../assets/images/EPEFOAM.webp" type="image/webp" alt="EPE foam modernpackaging">
                  <img class="cardImage"  src="../../../assets/images/EPEFOAM.webp"  type="image/png" alt="EPE foam modernpackaging" />
              </picture>
             
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> EPE Foam Roll </h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>The most ideal product for cushion packaging, EPE rolls are a versatile product. The EPE Rolls manufactured in Modern Packaging exhibit excellent shock absorption and protection properties in addition to being light weight and abrasion resistant. All products manufactured in Modern Packaging are environment friendly and fungal resistant.</p>
                <p><b>Commonly used in : </b></p>
                <ul type="disc">
                  <li> 	Automobiles</li>
                  <li>	Garments Industry</li>
                  <li>	Home Appliances.</li>
                  <li>	Life Saving Jackets.</li>
                  <li>	AC Insulation Pads.</li>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
