.img-responsive{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height:600px;
   max-width:100%;
   z-index: 4;
}
.banner1{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 282px;
  max-width: 60%;
  position: relative;
  top: 52%;
  left: 20%;

}

.bannerText{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 46%;
  text-align: -webkit-center;
}

.bannerText p{
  font-size: 1.4vw;
color: aliceblue;
font-weight: lighter;

}
@media screen and (max-width: 800px) {
  .banner1{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .img-responsive{
    width: 100%;
    overflow:hidden;
  }
  .bannerText p{
    font-size: 4.1vw;
    text-align: justify;
    font-weight: 600;

  }
  .bannerText{
    width: 60%;
    position: static;
    left: 0;
    top: 0;
    margin-left:25%;
    margin-top:25%;
  }

}
