<div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); ">
    <div class="bannerText">
        <p> Welcome to Modern Packaging. We are among the leading manufacturers and suppliers of industry packaging materials. We specialize in Air Bubble rolls,
           pouches, and sheets, EPE rolls, Packaging Tapes, Double-sided Tapes, Industrial Tapes, and Filament Tapes.
        </p>
    </div>
    
    <picture>
      <source class="banner1" srcset="../../assets/images/Banner1.webp" type="image/webp" alt="modernpackaging banner">
      <source class="banner1" srcset="../../assets/images/Banner1.png" type="image/png" alt="modernpackaging banner">
      <img class="banner1"  src="../../assets/images/Banner1.webp" alt="modernpackaging banner">
  </picture>
</div>
<div class="homeContent" >
  <app-air-bubble></app-air-bubble>
  <app-packaging-tape></app-packaging-tape>
  <app-indrustial-tape></app-indrustial-tape>
  <app-filament-tape></app-filament-tape>
  <app-indrustrial-packaging-material></app-indrustrial-packaging-material>

</div>
