.filamentTapeContent{
  background-color: white;
  /* border:1px solid red; */
  max-width: 100%;
  height: auto;
}
.headingMain{
position: relative;
left: 32%;
border: 1px solid white;
display: inline-block;
width: 33%;
text-align: center;
}
.paraMain{
  max-width: 40%;
      text-align: center;
      margin-left: 29%;
}
.paraTextDIv p{
    font-weight: 600;
}
.cardsContainer{
display: flex;
margin-top: 5%;
    width: 85%;
    margin-left: 23%;}
.card{
  margin: 2%;
  margin-right: 10%;
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; */
  width: 20%;
  height: auto;
  border:none;
}
.cardImageDiv{
margin-top: 2%;
}
.cardImage{
  height: 240px;
  width: 100%;

}
.cardtextDiv{
margin-top: 10%;
}
.cardtextDiv p{
  font-weight: 700;
}
@media screen and (max-width: 800px) {
  .filamentTapeContent,.paraMain{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .headingMain{
    width: 42%;
  }
  .cardsContainer{

    display: block;
width: 100%;
margin-left: 8%;
  }
  .card{
    width: 80%;
  }
  .headingMain{
    width: 70%;
    left: 14%;
    padding-left: 10px !important;
  }
  .paraMain{
    max-width: 84%;
text-align: justify;
margin-left: 9%;
  }
  .headingTextDiv h1{
    font-size: 7vw;
  }
}
