<div class="filamentTapeContent">

    <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
        <div class="headingDiv">
          <div class="headingTextDiv">
              <h1> Filament Tape </h1>
          </div>
        </div>
    </div>
    <div class="paraMain">
        <div class="paraTextDIv">
            <p> We manufacture specialised <strong> mono filamentand cross filament tapes </strong> best for closing corrugated fibreboard boxes, bundling items, and reinforcing packages.
            </p>
        </div>
    </div>
    <div class="cardsContainer">
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/mono_Filament_Tape.png" type="image/png" alt="mono filament tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/mono_Filament_Tape.webp" type="image/webp" alt="mono filament tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/mono_Filament_Tape.webp"  type="image/webp" alt="mono filament tape modernpackaging" />
                </picture>
                
            </div>
            <div class="cardtextDiv">
                <p> Mono Filament Tape </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/Cross_Filament_Tape.png" type="image/png" alt="cross filament tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/Cross_Filament_Tape.webp" type="image/webp" alt="cross filament tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/Cross_Filament_Tape.webp"  type="image/webp" alt="cross filament tape modernpackaging" />
                </picture>
            
            </div>
            <div class="cardtextDiv">
                <p> Cross Filament Tape </p>
            </div>
        </div>

    </div>
</div>
