<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Surface Protection Tape Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/Surface_Protection_Tape.png" alt="Surface Protection Tape Manufacturer">
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Surface Protection Tape</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>The Surface Protection Tapes manufactured by Modern Packaging are available in different materials and sizes since each kind of surface requires specific type of tape. Please contact our team in order to be sure about the tape of your need.</p>
                <p><b>Salient Features: </b></p>
                <ul type="disc">
                  <li> 	Excellent resistance to tears, scratches, and other damages.</li>
                  <li>	Water Resistant</li>
                  <li>	UV Resistant</li>
                  <li> Dust Resistant<li>
                  <li>	High Adhesion Properties</li>
                  <li>	Leaves no adhesive residue</li>
                </ul>
                <p><b>Commonly used on: </b></p>
                <ul type="disc">
                  <li> 	Steel Surfaces</li>
                  <li>	Glass Surfaces</li>
                  <li>	Plywood</li>
                  <li> Metal Surfaces</li>
                  <li>	Glossy Surfaces</li>

                </ul>

            </div>
        </div>
    </div>

  </div>
</div>
