<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards" style="width: 51% !important;">
              <div class="cardtextDiv">
                  <h1>	Floor Marking Tape Manufacturer</h1>
              </div>
              <div class="cardImageDiv">
                <picture>
                  <source class="cardImage" srcset="../../../assets/images/Floor_Marking_Tape.png" type="image/png" alt="floor marking tape modernpackaging">
                  <source class="cardImage" srcset="../../../assets/images/Floor_Marking_Tape.webp" type="image/webp" alt="floor marking tape modernpackaging">
                  <img class="cardImage"  src="../../../assets/images/Floor_Marking_Tape.webp"  type="image/webp" alt="floor marking tape modernpackaging" />
              </picture>

              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Floor Marking Tape</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>Self-adhesive tapes used for a number of purposes inside and outside the packaging industry.</p>
                <p><b>Salient Features: </b></p>
                <ul type="disc">
                  <li> 	High adhesive property</li>
                  <li>	Excellent Cohesion Strength</li>
                  <li>	Rubber-based Adhesive.</li>

                </ul>
                <p><b>Common uses: </b></p>
                <ul type="disc">
                  <li> 	Dividing Spaces</li>
                  <li>	Mark Hazards</li>
                  <li>	Create Aisles.</li>
                  <li> Provide Directions</li>

                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
