<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1>  Air Bubble Roll Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                <picture>
                  <source class="cardImage" srcset="../../../assets/images/air-bubble-roll.webp" type="image/webp" alt="air bubble roll ">
                  <source class="cardImage" srcset="../../../assets/images/air-bubble-roll.png" type="image/png" alt="air bubble roll ">
                  <img class="cardImage"  src="../../../assets/images/air-bubble-roll.webp" type="image/webp" alt="air bubble roll " />
              </picture>
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your Business requirement
                .." [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1>  Air Bubble Roll </h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>Highly resilient Air Bubble Rolls which are shock and water resistant. The optimal flexibility makes them the best choice for packaging products of all shapes and sizes.</p>
                <p><b>Commonly used for: </b></p>
                <ul type="disc">
                  <li> 	Packaging painted surfaces of items</li>
                  <li>	Protecting fragile items such as frames, ceramics, glass, china etc.</li>
                  <li>	Packing electronic gadgets and scientific equipment.</li>
                  <li>	Stuffing furniture panels and profiles.</li>
                  <li>	Securing and Packaging liquor bottles especially wine and champagne.</li>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
