.navlink{
  color:black !important;
}
.co{
  display: block ;
  z-index: 3;
}

.listhover a:hover{
  color:blue;
}
.logo{
  padding-left:6%;
  z-index: 4;
}
.phoneIcon{
  font-size: 30px;
padding-left: 63%;

}
ul{

  width: 73%;
}
li {
  margin-right: 5%;
}
.nav-item a:hover {
  color:#ff5100 !important;

}
.nav-item a {
  font-weight: 500;

}
ul li ul.dropdown{
        min-width: 90%; /* Set width of the dropdown */
        background: white;
        display: none;
        position: absolute;
        z-index: 999;
        left: 5%;
        top: 95%;
        padding: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        /* display: block; */
    }
.listhead{
  display: flex ;
  background-color: #3e568a;
  width:100%;
}
.listhead h6{
  color:white;


}
.air{
  margin-left: 3%;
}
.pack{
  margin-left: 12.5%;
}
.indus{
  margin-left: 9.5%;
}
.fila{
  margin-left: 9.5%;
}
.matrial{
  margin-left: 10.5%;
}
.listItem{
  display: flex;
  background-color: white;
}
.listItem ul{
  list-style: none;
  border-right: 1px solid grey;
  margin-top: 1%;
  margin-bottom: 1%;
}
.listItem ul li a {
  text-decoration: none;
}

.ic{

  margin:10px;
}
@media screen and (max-width: 800px) {
    .ul ,.li {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .phoneIcon{
    padding-left: 0;
    width:100%
  }
  .logo{
    width: 79%;
    padding-left: 0;
    margin-right: 0 !important;
  }
  .co{
    display: none;
  }
  .im{
    width:80%;
  }

}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: block !important;
    flex-basis: auto;
}
}

.submenu{
  display: none;
  height: 200%;
  width:100%;

  z-index: 6;

}
.mainSub{
  width:90%;

  position: relative;
  left:3%;


}
.subHead{
  display: flex;
  position: relative;
  left:35%;

}
.subHead p {
  color :#fd7e14;
  font-size: 6vw;
  font-weight: 400;
}
.subHead button{
  background-color: transparent;
  border: none;
  color:#fd7e14;
  font-size: 7vw;
  margin-left: 35%;

}
.sublist{
  margin-top: 10%;
  position: relative;


}
.sublist ul{
  list-style-type: none;
  width: 100%;

}
.sublist ul li {
  display: flex;
  border-bottom: 1px solid grey;
}
.sublist ul li p {
  font-size: 5vw;
  font-weight: 500;
  color: #fd7e14;
    margin-bottom: 5%;

}
.sublist ul li button {
  background-color: transparent;
  border: none;
  color:#fd7e14;
  font-size: 9vw;
  margin-left: 55%;

}
.sublist ul li a {
  font-size: 5vw;
  font-weight: 500;
  color: #fd7e14;
  margin-bottom: 15%;
}

.subPhone{
  position: relative;
  left :14%;
  margin-top:35%;
  color:#fd7e14;
  font-size: 6vw;
}

.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
}
#bt{
  background-color: transparent;
  border: none;
  color:#fd7e14;
  font-size: 9vw;

}
