<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand logo" routerLink="/" title="modernpackaging home page">

      <img src="../../assets/images/logo.webp" width="250" height="70" class="d-inline-block align-top img-responsive  im" alt="modernpackaging logo">
    </a>
  <button class="navbar-toggler " id="flip" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="openMenu()">
    <span class="navbar-toggler-icon" id="upr"></span>
  </button>


  <div class="responsive submenu  " id="submenu">
      <div class="mainSub">

          <div class="sublist">
              <ul class="firstUl">
                  <li>
                    <p> Products </p>
                    <button type="button" name="button" class="bt" onclick="openProductSubMenu()" > <i class="fa fa-chevron-circle-right" ></i> </button>

                  </li>

                  <li>
                    <a routerLink="/about" title="modernpackaging about us page"> About US</a>
                  </li>
                  <li>
                    <a href="./assets/pdf/Modern Packaging.pdf" target="_blank" title="modernpackaging company presentation">COMPANY PRESENTATION </a>
                  </li>
                  <li>
                    <a routerLink='/contact' title="Contact modernpackaging"> Contact Us</a>
                  </li>
              </ul>
              <ul class="productSubMenu " id="productSubMenu">
                <button type="button" name="button"  id="bt" > <i class="fa fa-chevron-circle-left" id="ico"></i> </button>
                <li><a routerLink="product/air-bubble-roll-manufacturer"> Air Buble Roll </a></li>
                <li><a routerLink="product/air-bubble-pouch-manufacturer">  Air Buble Pouch</a></li>
                <li><a routerLink="product/air-bubble-sheet-manufacturer">Air Buble Sheet</a></li>
                <li><a routerLink="product/epe-foam-roll-manufacturer"> EPE Roll</a></li>
                <li><a routerLink="product/custom-printed-self-adhesive-tape"> Customized Printed Self Adhesive Tape </a></li>
                <li><a routerLink="product/brown-self-adhesive-tape-manufacturer"> Brown Self Adhesive Tape </a></li>
                <li><a routerLink="product/cello-tape-manufacturer"> Cello Self Adhesive Tape </a></li>
                <li><a routerLink="product/double-sided-tape-manufacturer"> Double Side Red Liner Tape </a></li>
                <li><a routerLink="product/double-sided-tissue-tape-manufacturer"> Double Side Tissue Tape </a></li>
                <li><a routerLink="product/double-sided-foam-tape-manufacturer"> Double Side Foam Tape </a></li>
                <li><a routerLink="product/floor-marking-tape"> Floor Marking Tape </a></li>
                <li><a routerLink="product/eva-foam-tape-manufacturer"> Eva Tape </a></li>
                <li><a routerLink="product/surface-protection-tape-manufacturer">Surface Protection Tape </a></li>
                <li><a routerLink="product/stretch-wrap-film-manufacturer"> Stretch Wrap Film </a></li>
                <li><a routerLink="product/strapping-roll">Strapping Roll </a></li>
                <li><a routerLink="product/vci-paper">VCI Paper </a></li>
                <li><a routerLink="product/vci-film-bags">VCI Film & Bags </a></li>

              </ul>
          </div>


      </div>

  </div>
  <div class="collapse navbar-collapse co" id="navbarSupportedContent" >
    <div class ="phone " >
      <span class="phoneIcon"><i class="fa fa-phone ic " aria-hidden="true"></i>9811184407</span>
    </div>
    <ul class="navbar-nav mr-auto float-right ">
      <li class="nav-item active listhover">

        <a class="nav-link navlink" style="cursor:pointer;" title="products modernpackaging">PRODUCT <span class="sr-only">(current)</span></a>

        <ul class="dropdown">
                <li class="listhead">
                  <h6 class="air">AIR BUBBLE</h6>
                  <h6 class="pack"> PACKAGING TAPE </h6>
                  <h6 class="indus"> INDUSTRIAL TAPE </h6>
                  <h6 class="fila"> FILAMENT TAPE </h6>
                  <h6 class="matrial"> INDUSTRIAL PACKAGING MATERIAL </h6>
                </li>
                <li class="listItem">
                  <ul>
                      <li><a routerLink="product/air-bubble-roll-manufacturer"> Air Buble Roll </a></li>
                      <li><a routerLink="product/air-bubble-pouch-manufacturer">  Air Buble Pouch</a></li>
                      <li><a routerLink="product/air-bubble-sheet-manufacturer">Air Buble Sheet</a></li>
                      <li><a routerLink="product/epe-foam-roll-manufacturer"> EPE Roll</a></li>
                  </ul>
                  <ul>
                      <li> BOPP TAPES</li>
                      <li><a routerLink="product/custom-printed-self-adhesive-tape"> Customized Printed Self Adhesive Tape </a></li>
                      <li><a routerLink="product/brown-self-adhesive-tape-manufacturer"> Brown Self Adhesive Tape </a></li>
                      <li><a routerLink="product/cello-tape-manufacturer"> Cello Self Adhesive Tape </a></li>
                      <li>Double Side Tapes </li>
                      <li><a routerLink="product/double-sided-tape-manufacturer"> Double Side Red Liner Tape </a></li>
                      <li><a routerLink="product/double-sided-tissue-tape-manufacturer"> Double Side Tissue Tape </a></li>
                      <li><a routerLink="product/double-sided-foam-tape-manufacturer"> Double Side Foam Tape </a></li>
                  </ul>
                  <ul>
                      <li><a routerLink="product/floor-marking-tape"> Floor Marking Tape </a></li>
                      <li><a routerLink="product/eva-foam-tape-manufacturer"> Eva Tape </a></li>
                      <li><a routerLink="product/surface-protection-tape-manufacturer">Surface Protection Tape </a></li>
                  </ul>
                  <ul>
                      <li><a routerLink="product/mono-filament-tape" title="mono filament tape modernpackaging">Mono Filament Tape </a></li>
                      <li><a routerLink="product/cross-filament-tape" title="cross filament tape modernpackaging">Cross Filament Tape </a></li>
                  </ul>
                  <ul>
                      <li><a routerLink="product/stretch-wrap-film-manufacturer"> Stretch Wrap Film </a></li>
                      <li><a routerLink="product/strapping-roll">Strapping Roll </a></li>
                      <li><a routerLink="product/vci-paper">VCI Paper </a></li>
                      <li><a routerLink="product/vci-film-bags">VCI Film & Bags </a></li>
                  </ul>

                </li >

        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link navlink" routerLink="/about" routerLinkActive="active" title="about modernpackaging">ABOUT US</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link navlink " href="./assets/pdf/Modern Packaging.pdf" target="_blank" title="company presentation modernpackaging">COMPANY PRESENTATION </a>

      </li>
      <li class="nav-item" >
        <a class="nav-link navlink " routerLink='/contact'title="contact modernpackaging" >CONTACT US</a>
      </li>
    </ul>

  </div>

</nav>
