
			  .mobileShow { display: none;}


			  @media only screen
				and (min-device-width : 320px)
				and (max-device-width : 480px){
				  .mobileShow {display: inline;}
			  }

.Container{
  background-image: linear-gradient(#6a8691, #3e568a);
  height: 370px;
}
.sublogo{
  display: flex;
  margin-top: 7%;
}
.sublogo img{
  height: 75px !important;
  width : 75px !important;
}
.footerContainer{
  max-width: 100%;

    display: flex;
    position: relative;
top: 15px;
}
.leftSubContainer{
  width: 23%;
}
.links{
  display: inline-grid;
  margin-left: 12%;
  margin-top: 14%;
}
.link{
  color:white;
  font-weight: bold;
  font-size: 1.7vw;
}
.link:hover{
  text-decoration: none;
}
.logo{
  width:70%;
  height: 20%;
  position: relative;
  left: 10%;
  top: 8%;
}
.logo img{
  width:100%;
  height:100%;
}
.centerSubContainer{
  border: 1.5px solid white;
border-radius: 25px;
width: 47%;
position: relative;
left: 3%;
height: 351px;

}
.centerHeading{

  display: inline-block;
  position: absolute;
  left: 40%;
  top: 2%;
}
.centerHeading h2{
  color:white;
}
.ServicesTextDiv{
  display: flex;
  position: relative;
  top: 16%;
}
.ServiceLeftDiv{
  display: inline;

}
.ServiceRightDiv{
  display: inline;

}
.ServiceLeftDiv li{
  list-style-type: none;
}
.ServiceRightDiv li{
  list-style-type: none;
}
.ServicesTextDiv li a{
  color: white;
  line-height: 1.8;
}
.ServicesTextDiv li a:hover{
  text-decoration: none;
}
.rightSubContainer{

width: 23%;
position: relative;
left: 5%;
}
.headding{
  position: absolute;
  left: 30%;
  top:5%;
  color: white;
}
.addInfo{
  position: absolute;
  top:21%;
}
.info{
  display: flex;
}
.info img{
  height: 30px;
  width:30px;
  margin-right: 10%;

}
.info address {
  color: white;
}
.info p {
  color: white;
}
a:hover {
  color :#ff6f00 !important;
}

@media screen and (max-width: 800px) {
   .footerContainer {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    height: 100%;
  }
  .Container{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    height: 100%;
		margin-bottom: 17%;
    background-image: linear-gradient(#6a8691, #3e568a);
  }
  .footerContainer , .ServicesTextDiv{
    display: inline;
  }
  .leftSubContainer{
    display: flex;
    width: 100%;
  }
  .centerHeading h2{
    font-size: 6vw;
  }
  .link{
    font-size: 3.7vw;
  }
  .links{
    display: inline-grid;
margin-left: 8%;
 margin-top: 0;

  }
  .logo{
    width: 45%;
height: 44%;
position: relative;
left: 4%;
top: 10%;
  }
  .centerHeading{
    display: contents;
    text-align: center;
  }
  .centerSubContainer {
    width: 93%;
    margin-top: 5%;
		height: auto;
  }
  .servicesLinks{
    font-size: 4vw;
    line-height: 0;
  }
  .addInfo {
    margin-top: -2%;
  }
  .headding h2 {
    font-size: 7vw;

  }
  .headding{
    left: 36%;
    top: 3%;
  }
  
  .info {
    margin-left: 1%;
  }
  .rightSubContainer{

    width: 85%;
    height: 375px;

  }
  .sublogo img{
    height: 50px !important;
    width:50px !important;
  }
	.mobilefooter {
	    padding: 20px 0px;
	    text-align: center;
	    font-size: 31px;
	    background: #001f3a;
	    display: block !important;
	}
}
@media only screen and (max-width: 480px) and (min-width: 320px){
.mobilefooter {
    padding: 12px 0px;
    text-align: center;
    font-size: 31px;
    background: #001f3a;
    display: block !important;
}
}
