<footer>

  <div class="mobileShow" ngcontent-c0="" style=" position:fixed ;right: 5px ; bottom : 70px;z-index:9999;"><a ngcontent-c0="" href="https://api.whatsapp.com/send?phone=919811184407&text=Hi%20I%20am%20Interested%20in%20your%20service.%20Please%20contact%20me%20for%20further%20discussion" rel="noreferrer" media="only screen and (max-width: 640px)" target="_blank"><span ngcontent-c0="" class="fa-stack fa-2x"><i ngcontent-c0="" class="fa fa-circle fa-stack-2x" style="color:#4dc247"></i><i _ngcontent-c0="" class="fa fa-whatsapp fa-stack-1x fa-inverse fa-fw"></i></span></a></div>

    <div class="Container">
        <div class = "footerContainer ">
            <div class="leftSubContainer">
                <div class="links">
                    <a routerLink="/about" class="link" (click)="scrollToTop()"> About Us </a>
                    <a href="./assets/pdf/Modern Packaging.pdf" target="_blank" class="link"> Company Presentation </a>
                </div>
                <div class="logo">
                  <a routerLink="/"><img src="./assets/images/white logo.png" alt="Modern-packaging"> </a>
                  <div class="sublogo">
                      <img src="./assets/images/quality.png" alt="Quality">
                      <img src="./assets/images/make-in-india.png" alt="Make In India">
                      <img src="./assets/images/envior frien.png" alt="Enviornment Friendly">
                  </div>

            </div>
        </div>
        <div class="centerSubContainer">
            <div class="centerHeading">
              <h2> Services </h2>
            </div>
                <div class="ServicesTextDiv">
                    <div class="ServiceLeftDiv">
                        <ul>
                            <li><a class="servicesLinks" routerLink="product/air-bubble-roll-manufacturer" (click)="scrollToTop()"> Air Bubble Roll Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/air-bubble-pouch-manufacturer" (click)="scrollToTop()"> Air Bubble Pouch Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/air-bubble-sheet-manufacturer" (click)="scrollToTop()"> Air Bubble Sheet Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/epe-foam-roll-manufacturer" (click)="scrollToTop()"> EPE Roll Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/custom-printed-self-adhesive-tape" (click)="scrollToTop()"> Customized Printed Self Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/vci-film-bags" (click)="scrollToTop()"> VCI Film and Bags</a></li>
                            <li><a class="servicesLinks" routerLink="product/brown-self-adhesive-tape-manufacturer" (click)="scrollToTop()"> Brown Self Adhesive Tape Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/cello-tape-manufacturer" (click)="scrollToTop()"> Cello Self Adhesive Tape Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/double-sided-tape-manufacturer" (click)="scrollToTop()"> Double Sided Red Liner Tape Manufacturer</a></li>
                        </ul>
                    </div>
                    <div class="ServiceRightDiv">
                        <ul>
                            <li><a class="servicesLinks" routerLink="product/double-sided-tissue-tape-manufacturer" (click)="scrollToTop()"> Double Sided Tissue Tape Manufacturer </a></li>
                            <li><a class="servicesLinks" routerLink="product/double-sided-foam-tape-manufacturer" (click)="scrollToTop()"> Double Sided Foam Tape Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/floor-marking-tape" (click)="scrollToTop()"> Floor Marketing Tape Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/eva-foam-tape-manufacturer" (click)="scrollToTop()"> Eva Tape Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/surface-protection-tape-manufacturer" (click)="scrollToTop()"> Surface Protection Tape Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/mono-filament-tape" (click)="scrollToTop()"> Mono Filament Tape Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/cross-filament-tape" (click)="scrollToTop()"> Cross Filament Tape Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/stretch-wrap-film-manufacturer" (click)="scrollToTop()"> Stretch Wrap Film Manufacturer</a></li>
                            <li><a class="servicesLinks" routerLink="product/strapping-roll" (click)="scrollToTop()"> Strapping Roll Manufacturer</a></li>
                        </ul>
                    </div>
                  </div>

        </div>
        <div class="rightSubContainer">
            <div class="headding">
                <h2> Address </h2>
            </div>
            <div class="addInfo">
                <div class="info">
                    <img src="./assets/images/address.png" alt="Modernpackaging Adress">
                    <address> Plot No. 73,S.M.I.E.,Phase-1,20/2
                              Mathura Road ,Near Y.M.C.A. Chowk,
                              Faridabad-121006
                    </address>
                </div>
                <div class="info">
                    <img src="./assets/images/mobile.png" alt="Modernpackaging Conatct Number">
                  <a href="tel:9811184407">  <p> +919811184407</p> </a>
                </div>
                <div class="info">
                    <img src="./assets/images/mail.png" alt="Modernpackaging Email id">
                    <div class="" style="display:linline;">
                      <a href="mailto:info@modernpackaging.in"> <p> info@modernpackaging.in </p> </a>
                      <a href="mailto:modernpackaging73@gmail.com"><p> modernpackaging73@gmail.com</p></a>
                    </div>

                </div>
                <div class="info">
                    <img src="./assets/images/web.png" alt="Modernpackaging Website">
                    <p>www.modernpackaging.in</p>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="mobilefooter" style="display:none; position:fixed; width:100%; bottom:0; left:0%; margin-top:3%;  z-index:7;">
  <a href="tel:9811184407">
    <div class="">
      Call : 9811184407
    </div>
  </a>

</div>
</footer>
