<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Stretch Wrap Film Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                <picture>
                  <source class="cardImage" srcset="../../../assets/images/Stretch_Wrap_Film.png" type="image/png" alt="stretch wrap film modernpackaging">
                  <source class="cardImage" srcset="../../../assets/images/Stretch_Wrap_Film.webp" type="image/webp" alt="stretch wrap film modernpackaging">
                  <img class="cardImage"  src="../../../assets/images/Stretch_Wrap_Film.webp"  type="image/webp" alt="stretch wrap film modernpackaging" />
              </picture>
                  
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Stretch Wrap Film</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>Stretch wrap film aims to hold the box and product together and prevent them from any scratch.</p>
                <p><b>Salient Features : </b></p>
                <ul type="disc">
                  <li> 	Inner and outer packaging with remarkable durability </li>
                  <li>	Long-lasting performance.</li>
                  <li>	Superior tear resistance </li>
                  <li> Anti-static performance impact resistance</li>

                </ul>
                <p><b>Commonly used for: </b></p>
                <ul type="disc">
                  <li> 	Packing of fragile glass items to the heavy machinery.</li>
                  <li>	Wrapping products on pallets. .</li>
                  <li>	Holding boxes and other objects together during transportation and storage.</li>

                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
