<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " >
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Air Bubble Pouch Manufacture</h1>
              </div>
              <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/air_bubble_pouch.png" type="image/png" alt="air bubble Pouch ">
                    <source class="cardImage" srcset="../../../assets/images/air_bubble_pouch.webp" type="image/webp" alt="air bubble Pouch ">
                    <img class="cardImage"  src="../../../assets/images/air_bubble_pouch.webp"  type="image/webp" alt="air bubble Pouch " />
                </picture>
           
              </div>
          </div>
        </div>
        <div class="rightbanner">

              <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                    <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                    <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                    <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                    <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                    <input type="submit" name="submit" value="SUBMIT" id="submit">

              </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Air Bubble Pouch</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>Pouches of uncompromised quality with high resistance to water and shock. These are primarily used for individual packaging of smaller components of a larger product or multiple smaller products. Modern Packaging also provides air bubble pouches of custom size according to the client requirement.</p>
                <p><b>Commonly used for: </b></p>
                <ul type="disc">
                  <li> 	Secure and package electronic gadgets and scientific equipment.</li>
                  <li>	Packaging of glass products such as crockery, weighing machines etc.</li>
                  <li>	Used as inner lining in several courier packages.</li>
                  <li>	Securing jewellery and similar products.</li>
                  <li>	Securing and Packaging liquor bottles especially wine and champagne.</li>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
