.submenu{
  display: none;
  height: 200%;
  width:80%;
  background-color: black;
  z-index: 6;
}
.mainSub{
  width:90%;

  position: relative;
  left:3%;


}
.subHead{
  display: flex;
  position: relative;
  left:35%;

}
.subHead p {
  color :#fd7e14;
  font-size: 6vw;
  font-weight: 400;
}
.subHead button{
  background-color: transparent;
  border: none;
  color:#fd7e14;
  font-size: 7vw;
  margin-left: 35%;

}
.sublist{
  margin-top: 10%;
  position: relative;


}
.sublist ul{
  list-style-type: none;

}
.sublist ul li {
  display: flex;
}
.sublist ul li p {
  font-size: 5vw;
  font-weight: 500;
  color: #fd7e14;
    margin-bottom: 5%;

}
.sublist ul li button {
  background-color: transparent;
  border: none;
  color:#fd7e14;
  font-size: 9vw;
  margin-left: 55%;

}
.sublist ul li a {
  font-size: 5vw;
  font-weight: 500;
  color: #fd7e14;
  margin-bottom: 15%;
}

.subPhone{
  position: relative;
  left :25%;
  margin-top:35%;
  color:#fd7e14;
  font-size: 6vw;
}
.productSubMenu{
  display: none;
}
