<div class="airContent">

    <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
        <div class="headingDiv">
          <div class="headingTextDiv">
              <h1> Air Bubble </h1>
          </div>
        </div>
    </div>
    <div class="paraMain">
        <div class="paraTextDIv">
            <p> Top quality, light-weight, highly flexible, and water resistant air bubble products which are the perfect protection for fragile items.
            </p>
        </div>
    </div>
    <div class="cardsContainer">
        <div class="card">
            <div class="cardImageDiv rollimage">
               
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/air-bubble-roll.webp" type="image/webp" alt="air bubble roll ">
                    <source class="cardImage" srcset="../../../assets/images/air-bubble-roll.png" type="image/png" alt="air bubble roll ">
                    <img class="cardImage"  src="../../../assets/images/air-bubble-roll.webp" type="image/webp" alt="air bubble roll " />
                </picture>
               
            </div>
            <div class="cardtextDiv">
                <p> Air Bubble Roll </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/air_bubble_pouch.png" type="image/png" alt="air bubble Pouch ">
                    <source class="cardImage" srcset="../../../assets/images/air_bubble_pouch.webp" type="image/webp" alt="air bubble Pouch ">
                    <img class="cardImage"  src="../../../assets/images/air_bubble_pouch.webp"  type="image/webp" alt="air bubble Pouch " />
                </picture>
              
                
            </div>
            <div class="cardtextDiv">
                <p> Air Bubble Pouch </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <!--img class="cardImage" src="../assets/images/air bubble sheet.png" alt="air bubble sheet modernpackaging"-->
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/air_bubble_sheet.png" type="image/png" alt="air bubble sheet modernpackaging ">
                    <source class="cardImage" srcset="../../../assets/images/air_bubble_sheet.webp" type="image/webp" alt="air bubble sheet modernpackaging ">
                    <img class="cardImage"  src="../../../assets/images/air_bubble_sheet.webp"  type="image/webp" alt="air bubble sheet modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> Air Bubble Sheet </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/EPEFOAM.png" type="image/png" alt="EPE foam modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/EPEFOAM.webp" type="image/webp" alt="EPE foam modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/EPEFOAM.webp"  type="image/png" alt="EPE foam modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> EPE ROll </p>
            </div>
        </div>
    </div>
</div>
