<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards" style="width: 51% !important;">
              <div class="cardtextDiv">
                  <h1> Double Sided Tape Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/red_tape.png" alt='Double Sided Tape Manufacturer'>
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1>Double Sided Red Liner Tape</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>This product is available in different sizes. Please get in touch with our tem for further details.</p>
                <p><b>Salient Features: </b></p>
                <ul type="disc">
                  <li> 	Self Adhesive</li>
                  <li>	Excellent Adhesion Properties</li>
                  <li>	Tear and Cut Resistant</li>
                  <li>	Water, Oil, and Solvent Resistant</li>
                  <li>	High Bonding Strength</li>
                </ul>
                <p><b>Common Uses : </b></p>
                <ul type="disc">
                  <li> 	Serves the purpose of normal tapes. </li>
                  <li>	Mostly used in arts and crafts purposes.</li>
                  <li>	Sometimes in stationery purposes also.</li>

                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
