<div class="PackagingContent">

    <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
        <div class="headingDiv">
          <div class="headingTextDiv">
              <h1> Packaging Tape </h1>
          </div>
        </div>
    </div>
    <div class="paraMain">
        <div class="paraTextDIv">
            <h3> BOPP Tapes </h3>
            <p> Wrinkle and shrink proof, environment friendly BOPP Tapes with excellent adhesive properties which serve as a wise choice for packaging of heavy cartons.
            </p>
        </div>
    </div>
    <div class="cardsContainer">
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/Printed_tape.png" type="image/png" alt="printed tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/Printed_tape.webp" type="image/webp" alt="printed tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/Printed_tape.webp"  type="image/webp" alt="printed tape modernpackaging" />
                </picture>
                
            </div>
            <div class="cardtextDiv">
                <p> Customised Printed Self Adhesive Tape </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/brown_tape.png" type="image/png" alt="brown tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/brown_tape.webp" type="image/webp" alt="brown tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/brown_tape.webp"  type="image/webp" alt="brown tape modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> Brown Self Adhesive Tape </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/cello_tape.png" type="image/png" alt="cello tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/cello_tape.webp" type="image/webp" alt="cello tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/cello_tape.webp"  type="image/webp" alt="cello tape modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> Cello Self Adhesive Tape</p>
            </div>
        </div>

    </div>

    <!------------------ Double Side Tape ------------------------------------->

    <div class="paraMain">
        <div class="paraTextDIv">
            <h3> Double Side Tapes </h3>
            <p> Exceptionally adhesive, long-standing, and high-quality double-sided tapes that are perfect for industry uses such as mounting, holding, packaging, bonding, and splicing.
            </p>
        </div>
    </div>
    <div class="cardsContainer">
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/red_tape.png" type="image/png" alt="double side red linear tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/red_tape.webp" type="image/webp" alt="double side red linear tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/red_tape.webp"  type="image/webp" alt="double side red linear tape modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> Double Side Red Liner Tape</p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/tissue_tape.png" type="image/png" alt="double side tissue tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/tissue_tape.webp" type="image/webp" alt="double side tissue tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/tissue_tape.webp"  type="image/webp" alt="double side tissue  tape modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> Double Side Tissue Tape </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/Double_Side_Foam_Tape.png" type="image/png" alt="double side foam tape modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/Double_Side_Foam_Tape.webp" type="image/webp" alt="double side foam tape modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/Double_Side_Foam_Tape.webp"  type="image/webp" alt="double side foam  tape modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> Double Side Foam Tape</p>
            </div>
        </div>

    </div>


</div>
