<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Eva Foam Tape Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                <picture>
                  <source class="cardImage" srcset="../../../assets/images/Eva_Tape.png" style="transform: rotate(213deg);" type="image/png" alt="Eva tape modernpackaging">
                  <source class="cardImage" srcset="../../../assets/images/Eva_Tape.webp" style="transform: rotate(213deg);" type="image/webp" alt="Eva tape modernpackaging">
                  <img class="cardImage"  src="../../../assets/images/Eva_Tape.webp" style="transform: rotate(213deg);" type="image/webp" alt="Eva tape modernpackaging" />
              </picture>
            
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Eva Foam Tape</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p><b>Salient Features: </b></p>
                <ul type="disc">
                  <li> 	Tear Resistance</li>
                  <li>	Water Resistance</li>
                  <li>	High Strength</li>
                  <li>	Excellent Adhesion Properties</li>
                  <li>	Flexible and Resilient</li>
                </ul>
                <p><b>Common uses: </b></p>
                <ul type="disc">
                  <li> 	Used in making children’s foam stickers.</li>
                  <li>	Used in the production of hot glue sticks and other hot-melt adhesives.</li>
                  <li> Used in several electrical applications as substitute for vinyl and rubber products.</li>
                  <li>	EVA emulsions are developed into adhesives which are then used in bookbinding, packaging, bonding metal surfaces, and plastic firms.</li>
                  <li>	In sport shoes to absorb impact shock.</li>
                  <li>  In footwears.</li>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
