<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Volatile Corrosion Inhibitor Film & VCI Bags Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/2.png" alt="Volatile Corrosion Inhibitor Film & VCI Bags Manufacturer">
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Volatile Corrosion Inhibitor Film & VCI Bags </h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>VCI film and bags aim to offer complete protection from corrosion for years.</p>
                <p><b>Salient Features : </b></p>
                <ul type="disc">
                  <li>Heat sealable</li>
                  <li>Strong, stretchable</li>
                  <li>Great flexibility</li>
                  <li>Highly water-resistant</li>
                  <li>Transparent design</li>
                  <li>Superior corrosion protection</li>
                  <li>Extreme long-term protection</li>
                  <li>Cost-saving</li>
                  <li>Recyclable</li>
                  <li>No health hazards</li>
                </ul>
                <p><b>Commonly used for: </b></p>
                <ul type="disc">
                  <li> Ensures a protective transit.</li>
                  <li>Used by Tool manufacturers, machine manufacturers, metal component manufacturers etc.</li>
                  <li>Used to wrap and protect metal items from corrosion and damage in storage and shipping.</li>
                </ul>
                <p><b>Custom Size : </b></p>
                <ul type="disc">
                  <li>Gusset bags (13" x 9" x 16" x 2 MIL)</li>
                  <li>Zipper bags (3" x 5" x 4 MIL)</li>
                  <li>Flat bags (18" x 24" x 4 MIL)</li>
                  <li>Bubble bags (8” x 10” x 2 MIL)</li>
                  <li>Pre-opened bags on a roll</li>
                  <li>Perforated bags on a roll</li>
                  <li>Shrouds(91” x 229” x 3 MIL)</li>
                  <li>Engine bags(14.5” x 8.9” x 4 MIL)</li>
                  <li>Bin liners (23” x 31” x 4 MIL)</li>
                  <li>Tubing(48" x 500' x 4 MIL)</li>
                  <li>Sheeting(2" x 200" x 2 MIL)</li>

                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
