<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1>Strapping Roll Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/Strapping_Roll.png" alt="Strapping Roll Manufacturer">
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Strapping Roll</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>Strapping roll aims to bind the ceramics, textile chemicals, metals, and food processing products.</p>
                <p><b>Salient Features : </b></p>
                <ul type="disc">
                  <li> 	Uncompromised and guaranteed quality</li>
                  <li>	 	Safe to use</li>
                  <li> Easy to handle</li>
                  <li>	Longer life</li>
                  <li>	 	Durable product with a glossy finish.</li>
                  <li> 	High performance.</li>
                </ul>
                <p><b>Commonly used for: </b></p>
                <ul type="disc">
                  <li> 		Packaging of light-weighted to heavy-weighted products.</li>
                  <li>		Binding boxes, pallets and cartons in industries.</li>


                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
