<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1>	Double Sided Foam Tape Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/Double_Side_Foam_Tape.png" alt="Double Sided Foam Tape Manufacturer">
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement
                .." [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1>Double Sided Foam Tape </h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>This product is available in different sizes. Please get in touch with our tem for further details.</p>
                <p><b>Salient Features: </b></p>
                <ul type="disc">
                  <li> 	Self Adhesive</li>
                  <li>	Excellent Adhesion Properties</li>
                  <li>	Tear and Cut Resistant</li>
                  <li>	Water, Oil, and Solvent Resistant</li>
                  <li>	High Bonding Strength</li>
                </ul>
                <p><b>Common Uses:</b></p>
                <ul type="disc">
                  <li> 	Mounting mirrors onto wardrobes or other surfaces</li>
                  <li>	Double glazing</li>
                  <li>	Cable Trunking</li>
                  <li>	In automobile number plates</li>

                </ul>
                <p><b>Also used for :</b></p>
                <ul type="disc">
                  <li> 	Insulation</li>
                  <li>	Cushioning/Padding</li>
                  <li>	Gasketing</li>
                  <li>	Sealing</li>
                  <li>	Dampening</li>

                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
