<div class="indusMaterialContent">

    <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
        <div class="headingDiv">
          <div class="headingTextDiv">
              <h1> Industrial Packaging Material </h1>
          </div>
        </div>
    </div>
    <div class="paraMain">
        <div class="paraTextDIv">
            <p> In addition to our specialties mentioned above, we also manufacture industrial packaging material such as Stretch Wrap Film and Strapping Roll of uncompromised quality.    </p>
        </div>
    </div>
    <div class="cardsContainer">
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/Stretch_Wrap_Film.png" type="image/png" alt="stretch wrap film modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/Stretch_Wrap_Film.webp" type="image/webp" alt="stretch wrap film modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/Stretch_Wrap_Film.webp"  type="image/webp" alt="stretch wrap film modernpackaging" />
                </picture>
                
            </div>
            <div class="cardtextDiv">
                <p> Stretch Wrap Film </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/Strapping_Roll.png" type="image/png" alt="strapping roll modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/Strapping_Roll.webp" type="image/webp" alt="strapping roll modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/Strapping_Roll.webp"  type="image/webp" alt="strapping roll modernpackaging" />
                </picture>
                
            </div>
            <div class="cardtextDiv">
                <p> Strapping Roll </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/56.png" type="image/png" alt="vci paper modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/56.webp" type="image/webp" alt="vci paper modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/56.webp"  type="image/webp" alt="vci paper modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> VCI Paper </p>
            </div>
        </div>
        <div class="card">
            <div class="cardImageDiv">
                <picture>
                    <source class="cardImage" srcset="../../../assets/images/2.png" type="image/png" alt="vci films and bags modernpackaging">
                    <source class="cardImage" srcset="../../../assets/images/2.webp" type="image/webp" alt="vci films and bags modernpackaging">
                    <img class="cardImage"  src="../../../assets/images/2.webp"  type="image/webp" alt="vci films and bags modernpackaging" />
                </picture>
            </div>
            <div class="cardtextDiv">
                <p> VCI Films and Bags </p>
            </div>
        </div>

    </div>
</div>
