<div class="mainContainer">
    <div class = "img-responsive" style="background-image: url(./assets/images/contact.webp); ">
        <div class="bannerText">
            <h1> Contact us</h1>
        </div>
    </div>
    <div class="containerDIv">
        <div class="leftcontainer">
          <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
              <div class="headingDiv">
                <div class="headingTextDiv">
                    <h1> Modern Packaging Company </h1>
                </div>
              </div>
          </div>
          <div class="addContainer">
              <div class="headding">
                  <h3>MR. SUSHIL GUPTA </h3>
              </div>
              <div class="addInfo">
                  <div class="info">
                      <h5 class="add"> ADDRESS :</h5 >
                      <address> Plot No. 73,S.M.I.E.,Phase-1,20/2
                                Mathura Road ,Near Y.M.C.A. Chowk,
                                Faridabad-121006
                      </address>
                  </div>
                  <div class="info">
                      <h5  class="mobile"> MOBILE :</h5 >
                      <p> +919811184407</p>
                  </div>
                  <div class="info">
                      <h5 class="email">EMAIL ID :</h5 >
                      <p class="mail"> info@modernpackaging.in  modernpackaging73@gmail.com</p>
                  </div>

              </div>
          </div>
        </div>
        <div class="rightcontainer">
            <div class="rightHeading">
                <div class='rightHeadingText'>
                    <h1> LET US CONNECT </h1>
                </div>
                <div class="inputFields">
                  <form (ngSubmit)= "onsubmit()" #contactform = "ngForm" >
                  <div class="upperInputs">
                      <div class="leftInputs">
                          <input class="name" name="name" type="text" placeholder="Enter Full Name" [(ngModel)] = "model.name"  required #name="ngModel">

                          <input class="email" name="email" placeholder="Enter Email" type="email" [(ngModel)] = "model.email"  required>
                      </div>
                      <div class="rightInputs">
                          <input class="number" name="number" type="tel" placeholder="Enter Mobile No" [(ngModel)] = "model.phone"  ng-required>
                        
                      </div>
                  </div>
                  <div class="bottomInput">
                    <textarea name="description"  class="description" placeholder="Description.." [(ngModel)]="model.msg"> </textarea>
                  </div>
                  <div class="buttonSubmit">
                      <input type="submit" class="btn btn-primary sub" value="submit" >
                  </div>
                  </form>
                </div>

            </div>
        </div>
    </div>
</div>
