.mainContainer{
  margin-bottom:  2%;
}

.img-responsive{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height:300px;
   max-width:100%;
}
.bannerText{
  position: absolute;
  top: 32%;
  left: 25%;
  width: 46%;
  text-align: -webkit-center;
}

.bannerText h1{
  font-size: 3vw;
color: white;
font-weight: 600;

}
.containerDIv{
  margin-top: 4%;
  display: flex;
}
.leftcontainer{
  border-right: 1px solid grey;
    width: 42%;
    position: relative;
    left: 8%;
}
.headingMain{
position: relative;
width:80%;
border: 1px solid white;
display: inline-block;

text-align: center;
}
.headingTextDiv h1{
  font-size: 1.8vw;
}
.info{
  display: flex;
}
.addContainer{
  position: relative;
      left: 12%;
      width:69%;
}
.headding h3{
  font-size: 1.3vw;
}
.info h5{
  font-size: 1vw;
}
.add{
  width:35%;
}
.mobile{
  width:17%;
}
.email{
  width:24%;
}
.rightcontainer{
  position: relative;
  left:13%
}
.rightHeadingText h1{
    font-size: 1.8vw;
}
.inputFields{
  top: 5%;

  width: 150%;
    position: relative;
    margin-top: 10%;
}
.upperInputs{
  display: flex;
}
input{
  border: 1px solid grey;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 6px;
    height: 38px;
    transition: all .2s ease;
    box-sizing: border-box;
    margin-bottom: 10%;
}
.leftInputs{
display: grid;
margin-right: 15%;

}
.leftInputs input{
  width: 130%;

}
.rightInputs{
  display: grid;
}
.rightInputs input{
  width: 130%;
}
.description{
  width: 92%;
  height: 120px;
}
.buttonSubmit{

  margin-right: 8%;
float: right;
margin-top: 3%;
}
.sub{
  background-color: #3e568a;
  border-color: #3e568a;
  padding-left: 20px;
  padding-right: 20px;
}
.buttonSubmit input:hover{
  background-color: #ff5100 ;
  border-color: #ff5100;
}


@media screen and (max-width: 800px) {
  .bannerText h1 {
    font-size: 8vw;
  }
  .bannerText {
    top :44%;
  }
  .containerDIv {
    display: inline-block;
  }
  .leftcontainer{
    border-right: none;
    width: 88%;
    left :14%;
  }
  .headingTextDiv h1{
    font-size:  7vw;
  }
  .headding h3 {
    font-size: 6vw;
  }
  .info h5{
    font-size: 5vw;
  }
  .addContainer{
    width : 100%;
    left :0%;
  }
  .mobile {
    width : 29%;
  }
  .mail  {
    margin-left: 3%;
  }
  .info address{
    margin-left: 3%;
  }
  .rightcontainer{
    margin-top: 8%;
  }
  .rightHeadingText h1{
    font-size: 7vw;
  }
  .upperInputs{
    display: inline-block;
  }
  .leftInputs,.rightInputs{
    margin-right: 5%;
  }
  .description{
    width: 51%;
  }
  .buttonSubmit{
    float: none;
  }
.bannerText{  position: static;


  margin-left:25%;

}
}
