.img-responsive{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height:800px;
   width:100%;
}
.headingMain{
position: relative;
left: 32%;
border: 1px solid white;
display: inline-block;
width: 33%;
text-align: center;
}
.paraMain{
  max-width: 40%;
      text-align: justify;
      margin-left: 29%;
}
.paraTextDIv p{
    font-weight:lighter;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
}
.airContent{
  margin-top: 5%;
  margin-bottom: 3%;
}

@media screen and (max-width: 800px) {
  .img-responsive{
    height: 400px;
  }
  .headingTextDiv h1 {
    font-size: 7vw;
  }
  .headingMain {
    left :21%;
    width :57%;
  }
  .paraMain{
    max-width: 74%;
    text-align: justify;
    margin-left: 13%;
  }
  .paraTextDIv p {
    color: black;
    font-weight: 400;

  }
}
