<div class="mainContainer">
    
    <img class = "img-responsive" src="../../assets/images/about-us.webp" alt="about modernpackaging">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> About Us </h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p> Working out of Faridabad, India, Modern Packaging has been the finest manufacturers, traders, and suppliers of all kinds of packaging material for 11 years. We are proud of the assortment of packaging material that we provide ranging from Air Bubbles, Packaging Tape, Industrial Tape, and Filament Tape to Industrial Tapes.The Modern Packaging team is an organisation of efficient and skilled professionals who dedicate their time and craftsmanship into developing packaging solutionswith the aim of making packaging safe and convenient for you.  </p>
                <p> Over the years, Modern Packaging has developed an advanced infrastructural facility which is constantly upgraded in terms of technology in order to enable theproduction of highest-quality specialty tapes and air bubbles wraps. At present, we produce over 40,000 pouches on a daily basis and we are committed to increasing this turnover with hard work and client satisfaction.</p>
                <p> Our profound industry experience allows us to serve our clients satisfactorily. Some of the factors that make us stand out from our contemporaries is timely delivery, finest after-sale services, reasonable prices, and our skilled engineering techniques.</p>
            </div>
        </div>
      </div>

</div>
