<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Mono Filament Tape Manufacturer</h1>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/mono_Filament_Tape.png" alt="Mono Filament Tape Manufacturer">
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder=" Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Mono Filament Tape</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>A pressure-sensitive tape with exceptional adhesive properties manufactured to serve as the ideal solution for reinforcing packages, bundling items, and corrugated boxes.</p>
                <p><b>Salient Features: </b></p>
                <ul type="disc">
                  <li> 	High tensile strength</li>
                  <li>	Cut resistant</li>
                  <li>	Can bear high impact.</li>
                  <li>	Abrasion resistant</li>
                  <li>	Moisture resistant</li>
                  <li>  Powerful adhesive properties</li>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
