<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Cross Filament Tape Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/Cross_Filament_Tape.png" alt="Cross Filament Tape Manufacturer">
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder=" Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1>	Cross Filament Tape</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>Self-adhesive tapes designed and manufactured especially for applications requiring high strength. This tape is commonly used for strapping, packing heavy-weight cartons, and for pallet sizing as well as sealing of metalcoils and pipe bundling.</p>
                <p><b>Salient Features: </b></p>
                <ul type="disc">
                  <li> 	Film backing and Rubber adhesive</li>
                  <li>	High tensile strength</li>
                  <li>	Woven glass fibres that reinforce the strength properties.</li>
                  <li>	Stuffing furniture panels and profiles.</li>
                  <li>	Securing and Packaging liquor bottles especially wine and champagne.</li>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
