.img-responsive{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height:600px;
   max-width:100%;
   display: flex;
}
.cards{
  margin-top: -2%;
      text-align: center;
      background: transparent;
      width: 45%;
      position: relative;
      left: 36%;
      top: 19%;
      height: auto;
      border: none;
}
.cardImageDiv{
margin-top: 17%;

}
.cardImage{
  height: 240px;
  width: 100%;
}
.cardtextDiv{
margin-top: 2%;
}
.cardtextDiv p{
  font-weight: 500;
    font-size: 2vw;
    color: white;
}
.leftbanner{
  width:50%;
}
.rightbanner{
  width: 50%;

}
.form{
  display: inline-grid;
      padding: 55px;
      background: rgba(255,255,255,0.5);
      width: 61%;
      position: relative;
      top: 9%;
      left: 9%;
      border: 3px solid #c7cbd1;
      border-radius: 4px;

}

.form input{
  border: 1px solid grey;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 6px;
    height: 38px;
    transition: all .2s ease;
    box-sizing: border-box;
    margin-bottom: 10%;
}
.form textarea{
  border: 1px solid grey;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 6px;
    height: 100px;
    transition: all .2s ease;
    box-sizing: border-box;
    margin-bottom: 5%;
}
#submit{
  border: 1px solid grey;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 6px;
    height: 38px;
    width:50%;
    transition: all .2s ease;
    box-sizing: border-box;
    margin-bottom: 10%;
    background-color: #f7950c;
    color: black;
    font-weight: 600;
    position: relative;
    left: 22%;
    top: 30%;

}
.headingMain{
position: relative;
left: 32%;
border: 1px solid white;
display: inline-block;
width: 33%;
text-align: center;
}
.paraMain{
  max-width: 40%;
      text-align: justify;
      margin-left: 29%;
}
.paraTextDIv p{
    font-weight:lighter;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
}
.airContent{
  margin-top: 5%;
  margin-bottom: 3%;
}
