<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <p> Air Bubble Roll </p>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/1.png" alt="Air Bubble Roll">
              </div>
          </div>
        </div>
        <div class="rightbanner">

              <form class="form">

                    <input type="text" id="name" name="name" placeholder="Name" required>
                    <input type="email" id="mail" name="email" placeholder="Email" required>
                    <input type="tel" id="number" name="number" placeholder="Contact No." required>
                    <textarea  rows="8" cols="80" type="text" id="requirement" name="requirement" placeholder="Requirements" required></textarea>
                    <input type="submit" name="submit" value="SUBMIT" id="submit">

              </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Air Bubble Roll</h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>Highly resilient Air Bubble Rolls which are shock and water resistant. The optimal flexibility makes them the best choice for packaging products of all shapes and sizes.</p>
                <p><b>Commonly used for: </b></p>
                <ul type="disc">
                  <li> 	Packaging painted surfaces of items</li>
                  <li>	Protecting fragile items such as frames, ceramics, glass, china etc.</li>
                  <li>	Packing electronic gadgets and scientific equipment.</li>
                  <li>	Stuffing furniture panels and profiles.</li>
                  <li>	Securing and Packaging liquor bottles especially wine and champagne.</li>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
