<div class="main">
    <div class = "img-responsive" style="background-image: url(./assets/images/banner.jpg); " alt="Modern-Packaging-banner">
        <div class="leftbanner">
          <div class="cards">
              <div class="cardtextDiv">
                  <h1> Volatile Corrosion Inhibitor- VCI Paper Manufacturer </h1>
              </div>
              <div class="cardImageDiv">
                  <img class="cardImage" src="../assets/images/56.png" alt="Volatile Corrosion Inhibitor- VCI Paper Manufacturer ">
              </div>
          </div>
        </div>
        <div class="rightbanner">

          <form class="form" (ngSubmit)= "onsubmit()" #contactform = "ngForm">

                <input type="text" id="name" name="name" placeholder="Name" [(ngModel)] = "model.name" required>
                <input type="email" id="mail" name="email" placeholder="Email" [(ngModel)] = "model.email" required>
                <input type="tel" id="number" name="number" placeholder="Contact No." [(ngModel)] = "model.phone" required>
                <textarea  rows="8" cols="80" type="text" id="requirement" name="description"  class="description" placeholder="Mention your business requirement" [(ngModel)]="model.msg"></textarea>
                <input type="submit" name="submit" value="SUBMIT" id="submit">

          </form>
          </div>
  </div>
  <div class="info">
    <div class="airContent">

        <div class=" shadow-lg p-3 mb-5 bg-white rounded headingMain">
            <div class="headingDiv">
              <div class="headingTextDiv">
                  <h1> Volatile Corrosion Inhibitor- VCI Paper  </h1>
              </div>
            </div>
        </div>
        <div class="paraMain">
            <div class="paraTextDIv">
                <p>VCI papers prevent metals from corrosion for years without any expensive coatings.</p>
                <p><b>Salient Features : </b></p>
                <ul type="disc">
                  <li> 	Durable and easy to use</li>
                  <li>	Scratch-resistant</li>
                  <li>  Ideal for work layout</li>
                  <li>	High heat resistance </li>
                  <li>	rigidity</li>
                  <li> 	High quality and strength.</li>
                </ul>
                <p><b>Commonly used for: </b></p>
                <ul type="disc">
                  <li> Wraps for individual parts, shrouds, covers, and liners for large pieces or stacks of parts.</li>
                  <li> Use to protect products for longer periods.</li>
                  <li> Used for better abrasion resistance.</li>


                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
